.Slider1 {
  max-width: 1920px;
  height: 1000px;
  background-image: url(../../image/hero1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 1919px) {
    max-width: 1024px;
    background-image: url(../../image/hero1_1024.png);
  }

  @media (max-width: 1023px) {
    max-width: 320px;
    height: 713px;
    background-image: url(../../image/hero1_320.png);
  }
}

.Slider2 {
  max-width: 1920px;
  height: 1000px;
  background-image: url(../../image/hero2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 1919px) {
    max-width: 1024px;
    background-image: url(../../image/hero2_1024.png);
  }

  @media (max-width: 1023px) {
    max-width: 320px;
    height: 713px;
    background-image: url(../../image/hero2_320.png);
  }
}

.Slider3 {
  max-width: 1920px;
  height: 1000px;
  background-image: url(../../image/hero3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 1919px) {
    max-width: 1024px;
    background-image: url(../../image/hero3_1024.png);
  }

  @media (max-width: 1023px) {
    max-width: 320px;
    height: 713px;
    background-image: url(../../image/hero3_320.png);
  }
}

.Slider1,
.Slider2 {
  @media (max-width: 1023px) {
    max-width: 320px;
    height: 713px;
  }
}
