.WrapperHeader {
  max-width: 1920px;
  width: 100%;
  height: 1000px;
  position: relative;
  @media (max-width: 1919px) {
    max-width: 1024px;
  }

  @media (max-width: 1023px) {
    max-width: 320px;
    height: 713px;
  }
}

.WrapperSocialBlock {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;

  @media (max-width: 1919px) {
    width: 954px;
  }

  @media (max-width: 1023px) {
    width: 296px;
    display: block;
  }
}
