.WrapperLogo {
  top: 0;
  width: 296px;
  height: 74px;

  @media (max-width: 1023px) {
    height: 50px;
    text-align: center;
  }
}

.Logo {
  width: 296px;
  height: 74px;

  @media (max-width: 1023px) {
    width: 200px;
    height: 50px;
  }
}
