.Banner {
  position: absolute;
  bottom: 0;
  left: 50%;
  text-align: start;
  width: 484px;
  height: 229px;
  background-color: #f8f200;
  padding: 70px;
  clip-path: polygon(10% 0%, 100% 0%, 100% 90%, 90% 100%, 0% 100%, 0% 10%);
}

.Text {
  margin: 0;
  color: #000;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Button {
  color: #f8f200;
  padding: 19px 50px;
  margin-top: 39px;
  background-color: #000000;
  border: 0;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
