.sectionColorHp {
  background: #f8f200;
}

.wrapperLogo {
  width: 540px;
  height: 80px;
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1919px) {
    width: 320px;
    height: 229px;
    flex-direction: column;
  }

  @media (max-width: 1023px) {
    width: 296px;
    height: 50px;
    flex-direction: row;
  }
}

.wrapperBlockHp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 625px;

  @media (max-width: 1023px) {
    width: 296px;
    display: block;
  }
}

.titleHP {
  color: #000;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media (max-width: 1023px) {
    margin-top: 40px;
    font-size: 30px;
  }
}

.textHp {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;

  @media (max-width: 1023px) {
    font-size: 16px;
    line-height: 32px;
    margin-top: 17px;
  }
}

.wrapperHPBlock {
  display: flex;

  @media (max-width: 1023px) {
    display: block;
  }
}

.wrapperHPText {
  margin-left: 32px;

  @media (max-width: 1023px) {
    margin-left: 0;
  }
}

.wrapperColorBlock {
  align-items: center;
  display: flex;
  margin-top: 25px;
}

.textSvg {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 10px;

  @media (max-width: 1023px) {
    font-size: 16px;
    margin-left: 18px;
  }
}

.wrapperSvgBlock {
  align-items: center;
  display: flex;
  margin-top: 25px;
}

.buttonHpblock {
  margin-top: 40px;
  border: 0;
  display: inline-flex;
  height: 59px;
  padding: 15px 50px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: #000;

  color: #f8f200;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
